*{
    margin: 0;
    padding: 0;
}
body{    
    position: relative;
    width: 1440px;
    height: 681px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    color: #ffffff;
    background-color: #817070;
}
.hat_site{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110px;      
    background-color: #ffffff;
    
}
h1{
    margin-top: 29px;    
    color: #000000;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}
.userName{
    display: flex;
    justify-content: space-between;
    width: calc(300px + 300px +64px);
    margin: 86px 401px auto 375px;
}
.full_name{
    width: 300px;
    height: 55px;
    background-color: #817070;
    
    border: 3px solid #ffffff;
}
::placeholder{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
}
.choice{
    display: flex;
    justify-content: space-between;
    margin: 84px 304px auto 352px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    width: 298px;
    height: 55px;
}
.item_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    width: 354px;
    height: 55px;
}
input {
    
    background: #817070;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    outline: none;
}

input[name="quantity"]{
width: calc(130px - 3px - 3px);
height: calc(55px - 6px);
background: #817070;
border: 3px solid #FFFFFF;

}
input[type="checkbox"]{
    width: 21px;
    height: 23px;
    position: absolute;
    z-index: -1;
    opacity: 0; 

}

label::before{
    margin-right: 16px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    user-select: none;
  }
  input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: calc(21px - 8px);
    height:calc(23px - 8px) ;
    flex-shrink: 0;
    flex-grow: 0;
    border: 4px solid #ffffff;
    background-color: #817070;   
   
  }
  input[type="checkbox"]:checked+label::before {
    border-color: 4px solid #ffffff;
    background-color: #573636;
    background-image: none;
  }
  p{
    margin-top: calc(39px - 17px);
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .checkout{
    margin-top: 26px;    
    display: flex;
    justify-content: center;
  }
  .btn{
    display: block;
    width: 190px;
    height: 55px;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #817070;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
  }
  .btn:hover{
    background: #817070;
    color: #ffffff;
  }
 